# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

Client/node_modules
Server/__pycache__
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.venv
Client/package-lock.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/

# Node
node_modules/

# OS / editor
.vscode/
.idea/
.DS_Store
Server/data/embeddings/chroma_db/chroma.sqlite3
Server/data/embeddings/chroma_db/chroma.sqlite3
Server/data/embeddings/chroma_db/a2658b92-8678-4778-9d94-3528ae81aa13/data_level0.bin
