fastapi
uvicorn
python-socketio
python-dotenv
PyJWT
mongoengine
werkzeug
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-text-splitters
langchain-chroma
langchain-huggingface
langgraph
chainlit
pypdf
sentence-transformers
torch
transformers
pydantic
python-multipart
